Source: linbpq
Section: hamradio
Priority: optional
Maintainer: Dave Hibberd <hibby@debian.org>
Standards-Version: 4.7.0.0
Vcs-Browser: https://github.com/Online-Amateur-Radio-Club-M0OUK/oarc-bpqnode
Vcs-Git: https://github.com/Online-Amateur-Radio-Club-M0OUK/oarc-bpqnode.git
Homepage: https://www.cantab.net/users/john.wiseman/Documents/
Build-Depends: debhelper-compat (= 12), libssl-dev, libminiupnpc-dev, libpcap-dev, libconfig-dev, zlib1g-dev
Rules-Requires-Root: no

Package: linbpq
Architecture: linux-any
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser
Description: Packet node and ax25 stack
 LINBPQ is a Linux version of the BPQ32 Node, BBS and Chat Server components.
 It is actively developed by John G8BPQ and contains a complete, independent
 implementation of ax.25 and net/rom as well as BBS and Chat applications and
 can be used either as a packet switch or as a full featured node.
