Source: linbpq
Section: hamradio
Priority: optional
Maintainer: Debian Hamradio Maintainers <debian-hams@lists.debian.org>
Uploaders:
 Dave Hibberd <d@vehibberd.com>,
Standards-Version: 4.6.2.0
Vcs-Browser:
Vcs-Git:
Homepage: https://www.cantab.net/users/john.wiseman/Documents/
Build-Depends: debhelper-compat (= 12), libssl-dev, libminiupnpc-dev, libpcap-dev, libconfig-dev, zlib1g-dev
Rules-Requires-Root: no

Package: linbpq
Architecture: linux-any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Packet node and ax25 stack
 LINBPQ is a Linux version of the BPQ32 Node, BBS and Chat Server components.
